# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Sheena Ravary}
- {Celta Riden}
- {Jenny Chew}

## Tasks

1. {Find recipe for homemade deoderant}
2. {Go back to the homepage}
3. {Find out about essential oils}

---

## Individual Results & Observations

### {Sheena}

- {She clicked on the link as expected…}
- {She noticed my logo isn't there}
- {Responsiveness is a little awkward)

### {Celta Riden}

- {She had trouble finding the link for essential oils}
- {She made it back to the homepage}
- {She found the deoderant link quickly}


### {Jenny Chew}

- {She found the homemade deoderant page easily}
- {She found the homepage easily}
- {She clicked the wrong nav category for essential oils but quickly found her way}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Link to essential oils is broken!

### Serious, Causes Frustration, May Hinder Completion

- "Tools" nav section should maybe be "oils"" section
- Search bar needs to be moved/fixed
- Need to put my logo in there

### Minor, Annoying, Won’t Hinder Completion

- Special fonts did not show up, need to embed