<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Get clean and healthy skin the natural way by making your own skincare products. Ditch the drug store. ">
    <meta name="author" content="Sylvia McCauley">
    <link rel="shortcut icon" href="../../../assets/ico/favicon.png">

    <title>Natural Skincare · Make your own natural skincare products</title>
    <!-- Facebook -->
<meta property="og:type" content="article">
<meta property="og:title" content="Natural Skincare · Make your own natural skincare products">
<meta property="og:url" content="http://mccauleysylvia.github.io/large-data-website">
<meta property="og:image" content="http://placehold.it/200X200">
<!-- Image size: minimum of 200X200, recommend 1500X1500-->
<meta property="og:description" content="Get clean and healthy skin the natural way by making your own skincare products. Ditch the drug store.">
<meta property="og:site_name" content="Natural Skincare">

<!-- Twitter-->
<meta property="twitter:card" content="summary">
<meta property="twitter:title" content="Natural Skincare · Make your own natural skincare products">
<meta property="twitter:url" content="http://mccauleysylvia.github.io/large-data-website">
<meta property="twitter:image" content="http://placehold.it/200X200">
<!-- Image size: 120X120 at least -->
<meta property="twitter:description" content="Get clean and healthy skin the natural way by making your own skincare products. Ditch the drug store.">

    <link href="{{site.baseurl}}/css/bootstrap.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/jumbotron.css" rel="stylesheet">

  </head>

  <body>
  <ul class="skiplinks">
  	<li><a href="#main">Skip to banner</a></li>
    <li><a href="#main">Skip to primary content</a></li>
    <li><a href="#complementary">Skip to secondary content</a></li>
 </ul>


<nav role="navigation">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{site.baseurl}}/index.html" rel="home">Natural Skincare</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Go Natural <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{site.baseurl}}/essential-oils.html">Benefits</a></li>
                <li><a href="{{site.baseurl}}/essential-oils.html">Chemicals in Shampoo</a></li>
                <li><a href="{{site.baseurl}}/essential-oils.html">Chemicals in Deoderant</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Oils <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{site.baseurl}}/essential-oils.html">About Oils</a></li>
                <li><a href="{{site.baseurl}}/essential-oils.html">Carrier Oils</a></li>
                <li><a href="{{site.baseurl}}/essential-oils.html">Essential Oils</a></li>
                <li><a href="{{site.baseurl}}/essential-oils.html">Vegetable Oils</a></li>
              </ul>
            </li>
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hair <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{site.baseurl}}/deoderant-recipes.html">Homemade Shampoo</a></li>
                <li><a href="{{site.baseurl}}/deoderant-recipes.html">Homemade Conditioner</a></li>
                <li><a href="{{site.baseurl}}/deoderant-recipes.html">Homemade Hair Masks</a></li>
                <li><a href="{{site.baseurl}}/deoderant-recipes.html">Dandruff Remedies</a></li>

              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Face <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{site.baseurl}}/deoderant-recipes.html">Homemade Facewash</a></li>
                <li><a href="{{site.baseurl}}/deoderant-recipes.html">Homemade Makeup Remover</a></li>
                <li><a href="{{site.baseurl}}/deoderant-recipes.html">Homemade Toner</a></li>
                <li><a href="{{site.baseurl}}/deoderant-recipes.html">Homemade Moisturizer</a></li>
              </ul>
            </li>
            
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Body <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{site.baseurl}}/deoderant-recipes.html">Homemade Deoderant</a></li>
                <li><a href="{{site.baseurl}}/deoderant-recipes.html">Homemade Soaps</a></li>
                <li><a href="{{site.baseurl}}/deoderant-recipes.html">Homemade Lotions</a></li>
                <li><a href="{{site.baseurl}}/deoderant-recipes.html">Homemade Hand Sanitizer</a></li>
                <li><a href="{{site.baseurl}}/deoderant-recipes.html">Homemade Shaving Cream</a></li>

              </ul>
            </li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
 </nav>
    
    {{content}}
   <footer>

      <div class="container">
        <form class="row">

            <div class="col-xs-8 col-sm-5 col-sm-offset-5 col-md-5 col-md-offset-5">
              <input type="password" placeholder="Search" class="form-control">
           </div>
           <div class="col-xs-4 col-sm-2 col-md-2">
            <button type="submit" class="btn btn-success">Search</button>
             </div>
          </form>
      
         </div>
     </footer>
    <script src="{{site.baseurl}}/js/jquery.js"></script>
    <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
  </body>
</html>
